<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Release versions!</title>
</head>
<body>
<h1>Add release</h1>
<h1> <? $id_name ?> </h1>
<form id="request-release-form">
    <select
            name="projects-select"
            id="projects-select"
    ></select>
    <br/><br/>

    <select
            name="targets-select"
            id="targets-select"
    ></select>
    <br/><br/>

    <input type="text" name="title" placeholder="Ticket number">
    <br/><br/>

    <input
            type="submit"
    >
    <br/><br/>
</form>

<hr/>

<h1>Releases</h1>
<div id="projects-list"></div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    function deleteBuild(title, url) {
        let r = confirm("Are you sure you want to delete " + title + "?");
        if (r === true) {
            $.ajax({
                type: "POST",
                url: 'https://ipa.haipq.com/build/remove',
                data: { manifest_url: url },
                success: function(data) {
                    location.reload();
                },
            });
        }
    }
    (function() {
        var select_releases;

        $.getJSON( "https://ipa.haipq.com/list", function( data ) {
            $.each( data, function( i, project_item ) {
                $( "<div/>", {
                    "id": ("project-" + i),
                    "class": "project-item",
                    html: ("<h4>" + project_item.target + "</h4>"),
                }).appendTo( "#projects-list" );

                let payloads_list = [];
                $.each(project_item.payloads, function(j, payload_item) {
                    let item_view = "<li id='" + j + "'>" +
                            "<button type=\"button\" name=\"delete_btn\" onclick=" + "\"deleteBuild('" + payload_item.title + "','" + payload_item.url + "')\"" + ">Delete</button>&ensp;" +
                            "<a href='" + payload_item.url + "'>" + payload_item.title + "</a>" +
                            "</li>"
                    console.debug(item_view);
                    payloads_list.push(item_view);
                });

                $( "<ul/>", {
                    "class": "payloads-list",
                    html: payloads_list.join( "" )
                }).appendTo( "#project-" + i );
            });
        });

        $.getJSON("https://ipa.haipq.com/build_configs/list", function( data ) {
            select_releases = data;
            $.each( data, function( index, project_item ) {
                $("<option/>", {
                    "value": project_item.project,
                    html: project_item.project,
                }).appendTo( "#projects-select");
            });

            $.each( data[0].targets, function( index, targe_item ) {
                $( "<option/>", {
                    "value": targe_item,
                    html: targe_item,
                }).appendTo("#targets-select");
            });
        });

        $('#request-release-form').on('submit', function(e) {
            e.preventDefault();
            let project_select = $('#projects-select').val();
            let target_select = $('#targets-select').val();
            let title = $('input[name="title"]').val();
            $.ajax({
                type: "POST",
                url: 'https://ipa.haipq.com/build',
                data: { project: project_select, target: target_select, title: title },
                success: function(data) {
                    console.log(data);
                    alert('Submitted build request. Please wait a minute then reload this page!');
                },
            });
        });

        $('#projects-select').change(function() {
            let selectedProject = $('#projects-select option:selected').val();
            let targets = select_releases.filter(function(project_item) {
                return project_item.project == selectedProject;
            })[0].targets;

            $('#targets-select').html('');
            $.each(targets, function( index, targe_item ) {
                $( "<option/>", {
                    "value": targe_item,
                    html: targe_item,
                }).appendTo("#targets-select");
            });
        });
    })();
</script>
</body>
</html>
